---
import './globals.css'
import Layout from '../layouts/Layout.astro';
import styles from './404.module.css'
---
<Layout title='Not Found'>
    <div class={styles.container}>
        <h6 class={styles.title}>404</h6>
        <h6 class={styles.subtitle}>Страница не найдена</h6>
    </div>
</Layout>